.page {
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
}

.html {
    width: 100%;
    margin: 0;
    padding: 0;
}

.head {
    height: 70px;
    background-color: white;
    background-image: url("../static/image/head_image.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 32%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}


.head_input {
    background-color: whitesmoke;
    width: 10%;
    height: 50%;
    margin-left: 45%;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    border-radius: 10px;
    border: white;
}

.head-regular, .cursor, .cursor_1 {
    cursor: pointer;
}

.head_items {
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
}


.head-regular {
    margin-left: 15px;
}

.head, .head_input {
    display: flex;

}

.search_icon {
    position: absolute;
    display: inline-block;
    margin-left: 45.5%;
    margin-top: 30px;
    color: gray;
    cursor: text;


}


@media (max-width: 720px) {
    .head_input {
        display: None;
    }
}

@media (max-width: 720px) {
    .head_items, .head {
        display: flex;
        width: 100%;
        background-position: 0%;

    }
}

@media (max-width: 720px) {
    .head_items {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        font-size: 90%;
    }
}





