<!DOCTYPE html>
<html lang="en">
<head>
    <title>instagram</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="head.css" rel="stylesheet" type="text/css" media="all and (max-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href="head.css">
    <link rel="stylesheet" type="text/css" href="page.css">
    <link rel="stylesheet" type="text/css" href="modal.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<!--<header>-->
<div class="body">
    <div class="head">
        <i class="fa-solid fa-magnifying-glass search_icon"></i>
        <input id="input_box" type="search" class="head_input" placeholder="검색"/>
        <div class="head_items">
            <i class="fa-solid cursor fa-house fa-2x"
               onclick="window.location.reload(); location.href='index.html'"></i>
            <i class="fa-regular head-regular fa-paper-plane fa-2x"></i>
            <i class="fa-regular head-regular fa-square-plus fa-2x"></i>
            <i class="fa-regular head-regular fa-compass fa-2x"></i>
            <i class="fa-regular head-regular fa-heart fa-2x"></i>
            <img src="../static/image/hj.jpg"
                 style="margin-left: 5%; width: 30px; height: 30px; border-radius: 10px; cursor: pointer;">
        </div>
    </div>
</div>
<!--</header>-->
<!--여기 까지 head 부분!!-->
<body class="page">
<div class="story">
    <img src="../static/image/roopy.png" class="page_image" style="margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 10%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 20%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 30%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 40%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 50%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 60%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 70%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 80%; margin-top: 2%;">
    <img src="../static/image/roopy.png" class="page_image" style="left: 90%; margin-top: 2%;">
</div>
<div>
    <div class="footer">
        <footer>
            <img class="footer_profile" src="../static/image/hj.jpg">
            <p class="footer_profile_name">star_and_jinkim</p>
            <p class="footer_profile_name2">김하진</p>
            <button class="profile_button">전환</button>
            <button class="footer_prbtn">회원님을 위한 추천</button>
            <button class="footer_prbtn2">모두 보기</button>
            <p class="footer_name1">rion man</p>
            <p class="footer_insta1">instagram 신규 가입</p>
            <button class="follow1">팔로우</button>
            <p class="footer_name2">old boy</p>
            <p class="footer_insta2">instagram 신규 가입</p>
            <button class="follow2">팔로우</button>
            <p class="footer_name3">nobonobono</p>
            <p class="footer_insta3">instagram 신규 가입</p>
            <button class="follow3">팔로우</button>
            <p class="footer_name4">taeri_kim</p>
            <p class="footer_insta4">instagram 신규 가입</p>
            <button class="follow4">팔로우</button>
            <p class="footer_name5">ananan</p>
            <p class="footer_insta5">instagram 신규 가입</p>
            <button class="follow5">팔로우</button>
            <img class="footer_img1" src="../static/image/rion.jpg">
            <img class="footer_img2" src="../static/image/old1.jpg">
            <img class="footer_img3" src="../static/image/bonobono.jpg">
            <img class="footer_img4" src="../static/image/taeri.jpg">
            <img class="footer_img5" src="../static/image/roopy2.jpg">
            <p><a class="footer_text" href="https://about.instagram.com/">소개.</a></p>
            <p><a class="footer_text2" href="https://help.instagram.com/">도움말.</a></p>
            <p><a class="footer_text3" href="https://about.instagram.com/blog/">홍보센터.</a></p>
            <p><a class="footer_text4" href="https://developers.facebook.com/docs/instagram">API.</a></p>
            <p><a class="footer_text5" href="https://about.instagram.com/about-us/careers">채용정보.</a></p>
            <p><a class="footer_text6"
                  href="https://help.instagram.com/519522125107875/?maybe_redirect_pol=0">개인정보처리방침.</a></p>
            <p><a class="footer_text7" href="https://help.instagram.com/581066165581870">약관.</a></p>
            <p><a class="footer_text8" href="https://www.instagram.com/explore/locations/">위치.</a></p>
            <p><a class="footer_text9" href="https://www.instagram.com/directory/profiles/">인기계정.</a></p>
            <p><a class="footer_text10" href="https://www.instagram.com/directory/hashtags/">해쉬태그.</a></p>
            <p><a class="footer_text11" href="https://about.instagram.com/">언어.</a></p>

            <address class="footer_text_under">© 2022 INSTAGRAM FROM META</address>
        </footer>
    </div>


    <!--     이부분이 메인 page 1-->
    <div class="page_1">
        <img src="../static/image/roopy.png" class="page_image">
        <p class="profile_text">미래의 해적왕</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1" style="background-color: gray;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2" style="background-color: gray"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3" style="background-color: gray"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/image/roopy2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/roopy3.jpg.crdownload" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/roopy4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="page_icons">
                <i class="fa-regular fa-heart fa-2x "></i>
                <i class="fa-solid fa-comment-dots fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-regular fa-paper-plane fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-solid fa-bookmark fa-2x" style="margin-left: 450%;"></i>
            </div>
            <div class="small_image">
                <img src="../static/image/taeri.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image1">
                <img src="../static/image/rion.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image2">
                <img src="../static/image/bonobono.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image3">
                <p class="icon_text"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span style="font-weight:bold; ">roopy</span>님
                    <span style="font-weight:bold; ">외 225명</span>이 좋아합니다</p>
                <div class="text_dec">
                    <p class="feed-article">Monkey.D.Luffy 내 어린 시절 우연히
                        들었던 믿지못할 한마디
                        이 세상을&nbsp 다준다는 매혹적인 얘기
                        내게 꿈을 심어주었어
                        말도 안돼 고개 저어도
                        내 안에 나 나를 보고 속삭여
                        세상은 꿈꾸는 자의 것이라고
                        용기를 내 넌 할 수 있어
                        쉼 없이 흘러가는 시간
                        이대로 보낼 수는 없잖아
                        함께 도전하는 거야
                        너와 나 두 손을 잡고</p>
                    <button class="feed-article-button">more</button>
                    <p style="color: gray" class="cursor_1"> 댓글 31개 모두 보기</p>
                    <ul class="items">
                        <li class="item">
                            <span class="itemText">Luffy 내이름은 몽키 D. 루피 ! ! !</span>
                            <i class="fa-regular head-regular fa-heart itemDel"></i>
                        </li>
                    </ul>

                </div>
                <div>
                    <input type="text" class="page_input" placeholder="             댓글 달기..."/>
                    <i class="fa-solid fa-face-smile fa-2x page_input_icon"></i>
                    <i class="page_input_texticon">
                        <button class="input_button">게시</button>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <!--     이부분이 메인 page 2-->
    <div class="page_2">
        <img src="../static/image/old1.jpg" class="page_image">
        <p class="profile_text">old_boy</p>
        <div>
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1" style="background-color: gray;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                        aria-label="Slide 2" style="background-color: gray"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                        aria-label="Slide 3" style="background-color: gray"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/image/old1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/old2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/old3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="page_icons">
                <i class="fa-regular fa-heart fa-2x "></i>
                <i class="fa-solid fa-comment-dots fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-regular fa-paper-plane fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-solid fa-bookmark fa-2x" style="margin-left: 450%;"></i>
            </div>
            <div class="small_image">
                <img src="../static/image/old1.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image1">
                <img src="../static/image/hj.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image2">
                <img src="../static/image/bonobono.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image3">
                <p class="icon_text"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span style="font-weight:bold; ">roopy</span>님
                    <span style="font-weight:bold; ">외 225명</span>이 좋아합니다</p>
                <div class="text_dec">
                    <p class="feed-article feed-article2">minsik Choi&nbsp;언제까지 군만두만 먹으라는거야? 언제까지 군만두만 먹으라&nbsp는거야? 언제까지
                        군만두만 먹으라는거야? 언제까지 군만두만 먹으라는거야? 언제까지 군만두만 먹으라는거야?</p>
                    <button class="feed-article-button feed-article-button2">more</button>
                    <p style="color: gray" class="cursor_1"> 댓글 31개 모두 보기</p>
                    <ul class="items2">
                        <li class="item2">
                            <span class="itemText2">minsik Choi 진짜 군.만.두. 그만줘라 인간적으로.</span>
                            <i class="fa-regular head-regular fa-heart itemDel2"></i>
                        </li>
                    </ul>
                </div>
                <div>
                    <input type="text" class="page_input page_input2" placeholder="             댓글 달기..."/>
                    <i class="fa-solid fa-face-smile fa-2x page_input_icon page_input_icon2"></i>
                    <i class="page_input_texticon">
                        <button class="input_button input_button2">게시</button>
                    </i>
                </div>
            </div>
        </div>
    </div>


    <!-- 여기부터 page 3!!-->
    <div class="page_3">
        <img src="../static/image/taeri1.jpg" class="page_image">

        <p class="profile_text">taeri_kim</p>
        <div>
        </div>
        <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1" style="background-color: gray;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"
                        aria-label="Slide 2" style="background-color: gray"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2"
                        aria-label="Slide 3" style="background-color: gray"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/image/taeri1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/taeri2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/image/taeri3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="page_icons">
                <i class="fa-regular fa-heart fa-2x "></i>
                <i class="fa-solid fa-comment-dots fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-regular fa-paper-plane fa-2x" style="margin-left: 20%;"></i>
                <i class="fa-solid fa-bookmark fa-2x" style="margin-left: 450%;"></i>
            </div>
            <div class="small_image">
                <img src="../static/image/old1.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image1">
                <img src="../static/image/rion.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image2">
                <img src="../static/image/bonobono.jpg" style="width: 20px; height: 20px; border-radius: 70%;"
                     class="small_image3">
                <p class="icon_text"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span style="font-weight:bold; ">roopy</span>님
                    <span style="font-weight:bold; ">외 225명</span>이 좋아합니다</p>
                <div class="text_dec">
                    <p class="feed-article feed-article3">hajinkim&nbsp;안녕하세요 김태리 입니다 항상 사랑해주셔서 너무 감사드립니다 &nbsp 안녕하세요
                        김태리 입니다 항상 사랑해주셔서 감사합니다 ! 안녕하세요 김태리 입니다 항상 사랑해주셔서 감사합니다 안녕하세요 김태리 입니다 항상 사랑해주셔서 감사합니다 </p>
                    <button class="feed-article-button feed-article-button3">more</button>
                    <p style="color: gray" class="cursor_1"> 댓글 31개 모두 보기</p>
                    <ul class="items3">
                        <li class="item3">
                            <span class="itemText3">taeri Kim 반가워요 여러분! 자주 소통 해봅시다!!</span>
                            <i class="fa-regular head-regular fa-heart itemDel"></i>
                        </li>
                    </ul>
                </div>
                <div>
                    <input type="text" class="page_input page_input3" placeholder="             댓글 달기..."/>
                    <i class="fa-solid fa-face-smile fa-2x page_input_icon page_input_icon3"></i>
                    <i class="page_input_texticon">
                        <button class="input_button input_button3 ">게시</button>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="modal_open">...</button>
<button class="modal_open2">...</button>
<button class="modal_open3">...</button>

<div class="modal_wrap">
    <div class="modal">
        <div class="modal_group">
            <button class="modal_button1">신고</button>
            <button class="modal_button2">팔로우 취소</button>
            <button class="modal_button3">게시물로 이동</button>
            <button class="modal_button4">태그된 계정</button>
            <button class="modal_button5">공유 대상...</button>
            <button class="modal_button6">링크 복사</button>
            <button class="modal_button7">퍼가기</button>
            <button id="modal_close" class="modal_button8">취소</button>
        </div>
    </div>
</div>
<script src="../static/main.js"></script>

</body>

</html>