<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" media="all and (max-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href = "style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="wrap">
         <div class="head">
             <i class="fa-solid fa-magnifying-glass" style="position: absolute; ; left: 45.5%; top: 3.3%" ></i>
             <input type="search" class="head_input" placeholder="검색">
                <div class="head_items">
                 <i class="fa-solid fa-house fa-2x "></i>
                 <i class="fa-regular fa-paper-plane fa-2x"></i>
                 <i class="fa-regular fa-square-plus fa-2x"></i>
                 <i class="fa-regular fa-compass fa-2x"></i>
                 <i class="fa-regular fa-heart fa-2x"></i>
                 <img src="../static/image/hj.jpg"  style="margin-left: 5%; width: 30px; height: 30px; border-radius: 10px;">
             </div>
         </div>
</div>


</body>
</html>