<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="head.css" rel="stylesheet" type="text/css" media="all and (max-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href = "head.css">
    <link rel="stylesheet" type="text/css" href = "page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
    <div>
         <div class="head">
                <i class="fa-solid fa-magnifying-glass search_icon" ></i>
             <input type="search" class="head_input" placeholder="검색">
                <div class="head_items">
                 <i class="fa-solid  fa-house fa-2x "></i>
                 <i class="fa-regular fa-paper-plane fa-2x"></i>
                 <i class="fa-regular fa-square-plus fa-2x"></i>
                 <i class="fa-regular fa-compass fa-2x"></i>
                 <i class="fa-regular fa-heart fa-2x"></i>
                 <img src="../static/image/hj.jpg"  style="margin-left: 5%; width: 30px; height: 30px; border-radius: 10px;">
             </div>
         </div>
    </div>
</header>
<!--여기 까지 head 부분!!-->
<body style="background-color: whitesmoke">
<div>
    <div class="footer" style="display: flex;">
        <footer>
        <p>Copyright © 2018 tcpschool.co.,Ltd. All rights reserved.</p>
        <address>Contact webmaster for more information. 070-1234-5678</address>
        </footer>
     </div>
    <div class="page_1">

    </div>
    </div>
</div>

<div class="page_2">
    body2
</div>
<div class="page_3">
    body3
</div>

</div>
</body>
</html>