
.page_1 {
    margin-top: 8%;
    margin-left: 25%;
    width: 30%;
    height: 1050px;
    background-color: white;
    border: 1px solid lightgray;
    overflow: hidden;
}

.page_2 {
    margin-top: 1.8%;
    margin-left: 25%;
    width: 30%;
    height: 1050px;
    background-color: white;
    border: 1px solid lightgray;
    overflow: hidden;
}
.page_3 {
    margin-top: 1.8%;
    margin-left: 25%;
    width: 30%;
    height: 1050px;
    background-color: white;
    border: 1px solid lightgray;
    overflow: hidden;
}

.footer {
    float: right;
    width: 40%;
    margin-right: 3%;
    background-color: whitesmoke;
    display: flex;
}

.page_image {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}


.profile_text {
    position: relative;
    top: 2%;
    margin-left: 9%;
    font-weight: bolder;
    cursor: pointer;
}
.carousel-item {
    top: 5%;

}
.carousel-inner {
    height: 650px;
}
.carousel-indicators {
 top: 100%;
}

.page_icons {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    cursor: pointer;
}

.small_image {
    position: absolute;
    top: 110%;
    left: 5%;

    display: flex;
}
.small_image1 {
    position: absolute;
    cursor: pointer;

}
.small_image2{
    position: absolute;
    left: 5%;
    cursor: pointer;
}
.small_image3{
    position: absolute;
    left: 10%;
    cursor: pointer;
}
.icon_text {
    margin-top: -1%;
    font-size: medium;
    cursor: pointer;
}
.text_dec {
    position: absolute;
    left: -5%;
    top: 70%;
}
.page_input {
    position: absolute;
    top: 635%;
    left: -13.7%;
    width: 770px;
    height: 60px;
}
.page_input_icon {
    position: absolute;
    top: 675%;
    left: -5%;
    display: flex;
}

.feed-article{
    font-weight: bold;
    width: 560px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0;
}
.feed-article-button {
  display: inline;
  cursor: pointer;
  color: #777;
  position: absolute;
    border: none;
    background-color: white;
}
.feed-article-button.open {
    display: none;
}

.input_button {
    position: absolute;

    color: #80D4FF;
    background-color: white;
    width: 20%;
    border: none;
    top: 680%;
    left: 220%;
}

.story {
    display: flex;
    position: absolute;
    top: 7%;
    background-color: white;
    width: 30%;
    height: 6%;
    left : 25%;
}

@media (max-width: 720px) {
    .footer, .search_icon {
    display: none !important;
    }
}
@media (max-width: 720px) {
    .page_1  {
       margin-top: 20%;
        width: 100%;
        height: 890px;
        margin-left: -0%;
    }
}


@media (max-width: 720px) {
    .page_image {
        width: 10%;
        height: 40px;
        border-radius: 70%;
        margin-top: 3%;
        margin-left: 3%;
    }
 }

@media (max-width: 720px) {
    .page_button {
        font-size: 30px;
        color: black;
        border: none;
        background-color: white;
        margin-left: 90%;
        position: absolute;
        cursor: pointer;
    }
 }

@media (max-width: 720px) {
    .profile_text {
        position: relative;
        margin-left: 15%;
        top: 2.5%;
        font-weight: bolder;
        cursor: pointer;
    }
}

@media (max-width: 720px) {
    .carousel-inner {
        margin-top: 10%;
       height: 100%;
    }
}